body{
    background: linear-gradient(rgb(96, 168, 219), white);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


#section-contain{
    background:white url("./FullStack/assets/background.png");
    background-size: cover;

    width: auto;
    height: auto;
    /* display: flex; */

} 

#nav-container {
    position: fixed;
    top: 0;
  
    width:100%;
    /* height: 2vw; */
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    z-index: 1001;
}
#nav-container ul{

    margin-right: 3vw;
    padding-top: 10px;
    text-align: end;
}


.nav-scrolled {
    background: rgb(201, 231, 245) !important;
    box-shadow: 0 4px 6px rgba(50, 239, 116, 0.1);
}

.nav-scrolled #ul-container li a {
    color:rgb(29, 30, 29) !important;
}
.nav-scrolled #ul-container li a:hover{
    color: rgba(212, 143, 255, 0.749) !important;
}
#nav-container ul li{
    text-align: end;
    display: inline;
    padding-right: 20px;
    font-size: 2vw;
    font-family:Verdana;
    }

#nav-container ul li a{
    text-decoration: none;
    color: rgba(29, 198, 240, 0.952);
}
#nav-container ul li a:hover{
    color: rgb(58, 58, 255);
}
#img-container{
    text-align: center;
    padding-top: 14vw;
    
}

#img-container img{
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background-size: cover;
    border: .3vw solid rgb(250, 250, 250);
   
    
}
#alita{

    color: rgb(63, 42, 42);
    text-align: center;
    padding-top: .5vw;
    font-size: 4vw;
    font-family: manrope;
    /* text-decoration:dashed; */
    margin-bottom: 8vw;
    letter-spacing:1vw;
}

#about-info{
    font-family: manrope;
   height: auto;
   margin-left: 8vw;
   margin-right: 8vw;
    font-size: 1.8vw;
    color:  rgb(14, 14, 14);
    margin-bottom: 8vw;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: .1vw;

}

#its-head{
    width: 100%;
    height: auto;
    /* border-color: black;
    border-bottom: .2vw solid; */
    /* z-index: 111112; */

    /* position: absolute; */
}

section{
    width: auto;
    height: auto;
    border-color: rgba(0, 0, 0, 0.445);
    border-bottom: .1vw solid;
    /* z-index: 111111; */
    
}   

#skill{
    padding: auto;
    height: auto;
    font-size: 2vw;
}
.section-header{
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom:3vw;
    font-size: 3vw;
}



.skill-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    gap: 8vw;
    flex-wrap: wrap;
    font-size: 2vw;
}

.outer-div{
    position: relative;
    border-radius: 3.2vw;
    border-color: black;
    border: .3vw solid;
    width: 16vw;
    height: 6vw;
    display: flex;
    align-items: center;
   flex-wrap: wrap;
}

.inner-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 3.1vw;
    border-bottom-left-radius: 3.1vw;
    /* width: 70%; */
    height: 6vw;
    background-color: rgb(127, 255, 212);
}

#html{
    width: 80%;
}
#html p {
    margin-left: 3vw;
}

#css{
    width: 60%;
}
#css p{
    margin-left: 6vw;
}

#javascript{
    width: 80%;
}
#javascript p{
    margin-left: 4vw;
}

#java{
    width: 50%;
}
#java p{
    margin-left: 8vw;
}

#react{
    width: 40%;
}
#react p{
    margin-left: 10vw;
}

#express{
    width: 80%;
}
#express p{
    margin-left: 4vw;
}

#ejs{
    width: 84%;
}
#ejs p{
    margin-left: 2vw;
}

#tailwind{
    width: 80%;
}
#tailwind p{
    margin-left: 2.5vw;
}

.timeline-container{
    position: relative;
}
.timeline-box{
    width: 30.5vw;
    height: 20.5vw;
    position: relative;
    left: 7.6vw;
    margin-bottom: 10vw;
}


.timeline-box img{
    width: 30.5vw;
    margin-top: -1.2vw;
    background-size: cover;
}


.timeline-box:nth-child(2n){
    left: 60vw;
    
}

.timeline-box::after{
    content: ""; 
    width: 0.4vw;
    height: 0.4vw;
    background-color: rgb(11, 11, 11);
    border-radius: 50%;
    position: absolute;
    top: 7vw;
   
}
.timeline-box:nth-child(n)::after{
    content: ""; 
    width: 0.4vw;
    height: 0.4vw;
    background-color: rgb(13, 13, 13);
    border-radius: 50%;
    position: absolute;
    left: -11.42vw;
    top: 20%;
}


#timeline-content{
margin-top: -30vw;
}


.about-project{
    font-size: 1.5vw;
    width: 32vw;
    height: 13vw;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    
}
.about-project  i{
    font-size: 6vw;
    margin-right: -20vw;
    color: rgb(6, 193, 255);

}

.about-project-link i{
    margin-left: -8vw;
}
.about-project  i:hover,.linkHereR a:hover, .linkHereL a:hover{
    color: rgb(75, 75, 255);
}
.linkHereR a{
    font-size: 2vw;
    font-weight: 800;
    margin-left:1.2vw;
    color: rgb(6, 193, 255);

}

.linkHereL a{
    font-weight: 800;
    font-size: 2vw;
    margin-right:1.2vw;
    color: rgb(6, 193, 255);
}

.timeline-divider{
    width: 0px;
    border-color: black;
    border: .1vw dashed;
    height: 93.8%;
    position:absolute;
    top: .1%;
    left: 48.68vw;
}
.timeline-divider i{
    position:sticky;
    display: flex;
    margin-top: -7px;
    top: 5.7vw;
    z-index: 10;
}


.contact-info{
   
    font-size: 3vw;
    display: flex;
    justify-content: space-evenly;
    gap: 4vw;
    flex-wrap: wrap;
    margin-bottom: 6vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.contact-info a{
    text-decoration: none;
    color: rgba(29, 29, 29, 0.918);
    font-family: manrope;
}

.contact-info a:hover{
    color: rgb(71, 71, 255);
}

#address{
   font-size: 2vw;
    text-align: center;
    /* border-color: black;
    border: .2vw solid; */
}
#address-name{
    font-size: 5vw;
}
.address-info{
    margin-bottom: 6vw;
}

.thank{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 10vw;
    margin-top: 5vw;
}
.thank button{
    /* margin-bottom: 5vw; */
    border:gray;
    font-size: 2vw;
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 1vw;
}
.thank a{
    
    text-decoration: none;
    color: black;
}
.thank a:hover{
    color: rgb(136, 136, 207);
}
@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(rgb(47, 57, 69),black);
        color: rgba(255, 255, 255, 0.985);
    }
    #its-head, .outer-div, .inner-div, section{
        border-color: rgba(255, 255, 255, 0.703);
    }

    #nav-container ul li a, .contact-info a{
        color: rgba(136, 239, 250, 0.904);
    }
    #alita,#about-info{
        color: rgb(237, 244, 236);
    }

    #section-contain{
        background:black url("./FullStack/assets/5590457.jpg");
        background-size: cover;

    }

    .inner-div{
        background-color: rgba(166, 248, 220, 0.505);

    }

    .nav-scrolled {
        background: rgb(60, 72, 83) !important;
        box-shadow: 0 4px 6px rgba(95, 135, 135, 0.1);
    }
    
    .nav-scrolled #ul-container li a {
        color:white !important;
    }
    .nav-scrolled #ul-container li a:hover{
        color: rgb(8, 220, 244) !important;
    }

}
@media (min-width: 1365px) and (max-width: 1978px) { 
    #nav-container {
        width: 98.4%;
    }
    #nav-container ul{
        padding-top: 0px;
        margin-top: 8px;

    }
}
@media (min-width: 480px) and (max-width: 786px) { 
    #nav-container {
        width: 96.4%;
    }
    #nav-container ul{
        padding-top: 0px;
        margin-top: 15px;

    }
    .timeline-container{
        display: inline;
    }

    .timeline-divider{
        display: none;
    }
    .timeline-divider i{
        display: none;
    }
}

@media (max-width: 479px) and (min-width : 359px){
    #nav-container{
        width: 95.4% !important;
        /* padding-top: 0; */
    }
    #nav-container ul{
        padding-top: 0px;
        margin-top: 8px;

    }
    .timeline-divider{
        display: none !important;
    }
    .timeline-divider i{
        display: none !important;
    }
}


  
